html, body,{
    width: 100%;
    height: 100vh;
    font-family: 'Averta', sans-serif;
    background-color: black;
    
}

.contain{
    background-image:  url(./assets/sky-bg.jpg), linear-gradient(180deg,rgba(0, 0, 0, 0.88),rgba(0, 0, 0, 0.021));
    background-position: center;
    background-size: cover;
    min-height: 100%;
    color: white;
    /* background-repeat-y: no-repeat; */
}

h1{
    font-family: 'Atomic Age', cursive;
}

.navbar .navbar-vertical{
    margin: auto;
}

.bd-sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 4rem;
    z-index: 1000;
    height: calc(100vh - 4rem);
}


@media (min-width: 1200px){
    navbar-brand{
        visibility: hidden;
    }
}