.imageupload .form{
    width: 100%;
    padding: 40px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.imageupload .image_container{
    display: block;
    width: 85%;
    /* height: 300px; */
    margin: 20px auto;
    /* border: 1px solid black; */
}

.imageupload .image_container img{
    width: 100%;
    /* height: 100%; */
}


.imageupload .form input{
    width: 100%;
    height: 50px;
    margin: 20px 0px 3px;
    padding-left: 20px;
    background: none;
    border: none;
    border-bottom: 1px solid var(--main-color2);
    outline: none;
    color: var(--main-color2);
    font-size: .99em;
}

.imageupload .form input[type="file"]{
    border: none;
}

progress{
    width:100%;
    height: 15px;
    border: none;
    border-radius: 10px;
}

progress[value]::-webkit-progress-bar {
    background-color: var(--main-color);
    border-radius: 10px;
}

.imageupload .form button{
    width: 100%;
    height: 50px;
    font-family: 'encode_sans_bold';
    font-size: .99em;
    color: var(--main-color2);
    background: none;
    border: 1px solid var(--main-color2);
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: .2s ease-in-out;
    margin: 5px 0;
}

.imageupload .form button:hover{
    color: var(--main-color11);
    border: 1px solid var(--main-color11);
}

@media only screen and (min-width:768px){

    .imageupload .image_container{
        width: 400px;
        height: max-content;
    }   

}