.article_form .form{
    width: 100%;
    padding: 50px 0px;
}

.article_form .form label{
    width: 100%;
    color: var(--main-color2);
    margin: 25px 0 0;
    font-size : .75em;
    text-align: left;
}

.article_form .form input{
    width: 100%;
    height: 50px;
    margin: 20px 0px 3px;
    padding-left: 20px;
    background: none;
    border: none;
    border-bottom: 1px solid var(--main-color2);
    outline: none;
    color: var(--main-color2);
    font-size: .99em;
}

.article_form .form select{
    width: 100%;
    height: 50px;
    margin: 20px 0;
    background: none;
    border: 0.5px solid var(--main-color11);
    border-radius: 5px;
    outline: none;
    padding-left: 15px;
    color: var(--main-color11);
}

.article_form .form button{
    width: 100%;
    height: 50px;
    font-family: 'encode_sans_bold';
    font-size: .99em;
    color: var(--main-color2);
    background: none;
    border: 1px solid var(--main-color2);
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.article_form .form button:hover{
    color: var(--main-color11);
    border: 1px solid var(--main-color11);
}


::placeholder{
    font-family: 'encode_sans';
    color: var(--main-color11);
    font-size: .90em;
}

.error{
    color: red;
    font-size: .75em;
    width: 100%;
    padding-left: 20px;
    margin-bottom: 30px !important;
}
.four{
    width: 100%;
    text-align: center;
    color: red;
    font-family: 'encode_sans_medium';
    margin-top: 20px;
}

