.main{
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0;
}

.main table{
    width: 100%;
    white-space: nowrap;
    border-spacing: 0; 
    /* text-align: left; */
}

th{
    border-spacing: 0; 
    background: var(--main-color);
    padding: 40px 0px;
    white-space: nowrap;
    border: none;
    color: var(--main-color11);
    font-family: 'encode_sans_semi_bold';
    font-size: .81em;
}

td{
    padding: 40px 5px;
    border-bottom: 0.5px solid var(--main-color11);
    font-size: .85em;
    font-family: 'encode_sans_semi_bold';
}

tbody tr{
    transition: .4s ease-in-out;
}

tbody tr:hover{
    background: rgb(248, 248, 248);
}

.btn_container{
    display: flex;
    flex-direction: column;
}

.nodata{
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 30px 0;
}

.nodata .three{
    font-family: 'encode_sans_medium';
    color: var(--main-color9);
}

.num{
    font-family: 'encode_sans_bold';
    color: var(--main-color11);
}

.im{display: none;}

.img_container{
    width: 40px;
    overflow: hidden;
}

.img_container img{
    width: 100%;
}

button{
    padding: 10px 12px;
    font-family: 'encode_sans_bold';
    font-size: .85em;
    color: var(--main-color);
    background: none;
    border: 2px solid var(--main-color);
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: .2s ease-in-out;
    margin: 5px 0px;
}

.delete{
    border: 2px solid rgb(211, 0, 0);
    background: rgb(211, 0, 0);
    color: var(--main-color2)
}

@media only screen and ( min-width: 768px ){

    .main table{
        text-align: left;
    }

    th{
        padding: 40px 20px;
    }

    td{
        padding: 40px 20px;
    }

    .im{display: table-cell}

    .btn_container{
        flex-direction: row;
    }

    button{
        margin-right: 15px;
        padding: 10px 20px;
    }
}

@media only screen and ( min-width: 1100px ){
    .main{
        width: 60%;
    }
}