.delete_Section{
    width: 90%;
    /* border: 1px solid black; */
    margin: 0 auto;
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
}

.delete_Section .delete_properties{
    padding: 20px 0;
}

.delete_Section .img_container{
    width: 100%;
    margin: 15px auto;
}

.delete_Section .img_container img{
    width: 100%;
}

.delete_Section span{
    padding: 10px 0;
    display: block;
}

.delete_Section .para{
    font-size: .75em;
    font-family: 'encode_sans_medium';
    /* margin-bottom: 5px; */
    color: var(--main-color11);
    
}

.delete_Section .three{
    margin-top: 15px;
    font-family: 'encode_sans_medium';
    color: var(--main-color2);
    font-size: .95em;
}

.delete_Section .two{
    color: var(--main-color2);
}

.delete_Section .delete{
    background: rgb(184, 2, 2);
    font-family: 'encode_sans_medium';
    padding: 15px 20px;
    font-size: .93em;
    transition: .4s ease-in-out;
}

.delete_Section .delete:hover{
    background: rgb(179, 0, 0);
}

.delete_Section .header{
    width: 100%;
    padding: 30px 0;
}

.delete_Section .exit{
    color: var(--main-color11);
}

.delete_Section .body{
    width: 100%;
}

.delete_Section .body button{
    margin-right: 20px;
}

.delete_Section button{
    padding: 10px 17px;
    border: none;
    border-radius: 3px;
    background: var(--main-color);
    color: var(--main-color2);
    font-family: 'encode_sans_medium';
    cursor: pointer;
    outline: none;
}

@media only screen and (min-width: 768px){
 
    .delete_Section{
        width: 45%;
    }

}